.btn {
  padding: 6px 14px;
  border: solid 1px gray;
  color: white;
  
  margin: 4px;
  
}

.btn-primary{
  background-color: blue;
}
.btn-secondary{
  background-color: gray;
    color: black;
}
.btn-danger{
  background-color: red;
}

